{% extends 'events/base.html' %}

{% block content %}
<br><br>
    {% if user.is_authenticated %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for event in My_event %}
                <div class="col">
                    <div class="card">
                       
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">{{ event.event_date }}</p>
                            <a href="{% url 'show-event' event.id %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No events found.</p>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="text-center">You must be logged in</h1>
    {% endif %}
{% endblock %}